.houseItemElement {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    padding: 20px 0;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image {
    height: 100px;
    width: 100px;
    align-self: center;
    padding: 8px;
}

.description {
    font-size: 12px;
}

.buttonRemove {
    height: 48px;
    width: 100px;
    align-self: center;
}