.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonElement {
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #003399;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
}

.buttonElement:hover {
    background-color: #002b80;
}
